.contact-con {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.status-container {
    margin: 1rem 0 1rem 0;
}

.status {
    background-color: var(--faint-bg);
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    border-radius: 0.375rem; 
    font-size: 1.25rem; 
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

@media (min-width: 30em) {
    .status{
      padding: 0.5rem; 
    }
}

.circle {
    width: 1rem; 
    height: 1rem; 
    background-color: green;
    border-radius: .5rem; 
    margin-right: 1rem; 
}

.status-txt {
    opacity: .80;
}

/* Contact Form Styles */
.contact {
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px 80px;
    background: var(--faint-bg);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.contact .contact-cont {
    height: 35rem;
    display: flex;
}

.contact .contact-cont > div {
    flex: 1;
}

.left {
    max-height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; /* Changed to one column */
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    position: relative;
    z-index: 3;
}

.contact-heading h1{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    white-space: nowrap;
    margin-bottom: 1.2rem;
}

.text {
    line-height: 1fr;
    font-size: 1.25rem;
    text-align: center;
}

.forms-wrapper {
    max-width: 50rem;
}

.contact-form {
    display: grid;
    margin: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.input-wrap {
    position: relative;
}

.input-wrap-textarea, .input-wrap-email{
    grid-column: span 2;
}

.contact-input {
    width: 100%;
    outline:  none;
    background-color:  rgba(255, 255, 255, 0.2);
    padding: 1.5rem 1.35rem calc(0.75rem - 1rem) 1.35rem;
    border-radius: 20px;
    border: 2px solid transparent;
    color: #e3e0ff;
    font-size: 0.95rem;
    transition: .3s;
    height: 4rem;
}


input:hover,
textarea:hover {
    background: rgba(255, 255, 255, 0.3); /* Brighter background on hover */
    border: 1px solid #6f42c1; /* Brighter border on hover */
    transition: background 0.2s, border 0.2s; /* Smooth hover effect */
}


.input-wrap-textarea, .input-wrap-email {
    position: relative;
}

.input-wrap label, .input-wrap-textarea label, .input-wrap-email label {
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
    transition: .25s;
}

.input-wrap i, .input-wrap-textarea i, .input-wrap-email i{
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #96a8df;
    font-size: 1.4rem;
}

textarea.contact-input {
    resize: none;
    width: 100%;
    min-height:  125px;
}

textarea.contact-input ~ label {
    top: 1.2rem;
    transform: none;
}

textarea.contact-input ~ i {
    top: 1.3rem;
    transform: none;
}

.input:focus, .textarea:focus, .contact-input:focus{
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #6f42c1;
    box-shadow: rgba(111, 66, 193, 0.5);
}

.contact-input:focus ~ label, .contact-input:focus ~ i {
    color: #4e2a91;
}

.contact-input.focus ~ label,
.contact-input.not-empty ~ label {
    font-size: .8rem;
    top: 0.90rem; /* Adjust to your needs */
    transform: translateY(0);
    color: #4e2a91; /* Optional: Add color for focus */
    transition: all 0.3s ease; /* Smooth transition */
}

.contact-buttons {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
}

.btn {
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: #e3e0ff;
    color: #4e2a91;
    border-radius: 40px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #6f42c1;
    color: #fff;
}