/* Animation */
@keyframes appear {
    from {
      opacity: 0;
      transform: translateZ(-100px);
      
    }
    to {
      opacity: 1;
      transform: translateZ(0px);
    }
  }

  /* ----- LOADER ---------*/

@keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%
    }
  
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%
    }
  }
  
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0000 calc(1*100%/6),#fff 0 calc(3*100%/6),#0000 0),
                linear-gradient(#0000 calc(2*100%/6),#fff 0 calc(4*100%/6),#0000 0),
                linear-gradient(#0000 calc(3*100%/6),#fff 0 calc(5*100%/6),#0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
    transition: opacity 0.75s, visibility 0.75s;
  }

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

/* ----- LOADER ---------*/


* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    background-image: 
        var(--gradient-1),
        var(--gradient-2),
        var(--gradient-3),
        var(--gradient-4),
        var(--gradient-5),
        var(--gradient-6);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
    font-family: 'Space Grotesk Regular', Arial, sans-serif;
    font-size: 1rem; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk Bold', 'Arial Narrow', Tahoma, Arial, sans-serif;
    font-weight: 600;
    text-transform: none;
    font-size: 1.25rem; 
}

body, .main, footer, a, h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

.progress { 
    position: fixed; 
    top: 0;
    z-index: 1000;
    left: 0;
    height: 4px;
    background-color: #6a0dad; 
    border-bottom: solid 4px;
    border-image: linear-gradient(90deg, #6a0dad 10%, #8a2be2 28%, #4b0082 50%, #0000ff 72%, #4169e1 90%) 100;
}

/* -----Header styles ---------*/
header {
    display: flex;
    justify-content: center; 
    position: relative; 
}

.header-container {
    max-width: 1240px;
    width: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    bottom: 0; 
    z-index: 999; 
    padding: 0.5rem; 
    font-size: 1.25rem; 
}


@media screen and (min-width: 30em) { 
    .header-container {
        bottom: unset; 
        top: 0; 
    }
}


.homepage-link {
    display: none; 
    transition: opacity 0.15s ease-in; 
    margin-right: 0.5rem; 
}

.homepage-link:hover, 
.homepage-link:focus {
    opacity: 0.7;
}

@media screen and (min-width: 30em) { 
    .homepage-link {
        display: flex; 
        flex-direction: row; 
        align-items: center;
    }
}


.logo-icon {
    margin-top: 0.25rem;
    max-height: 48px;
    width: 100px;
}

/* ----- DIVIDER ---------*/
.divider {
    display: none;
    border-width: 1px;
    border-top: 1px solid var(--faint-border-color); 
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 30em) {
    .divider {
        display: block;
    }
}

/* -----NAVBAR styles ---------*/
.navbar-container {
    display: flex; 
    align-items: center; 
    padding: 0.5rem; 
    border-radius: 1rem;
    background-color: var(--nav-bg); 
    font-size: 1rem;
}

@media screen and (min-width: 30em) {
    .navbar-container {
        max-width: 1240px;
        margin: 0 auto; /* Center it */
    }
}


.navbar-links-container {
    display: flex;
}

.navbar-links-container a:hover {
    background-color: var(--hover-bg);
}

.navbar-links-container a {
    text-decoration: none; 
    padding: 0.75rem 0.75rem; 
    border-radius: 1rem; 
    white-space: nowrap; 
    transition: background-color 0.3s ease;
    font-size: 1rem;
    align-items: center;
}

.navbar-link.active {
    background-color: var(--hover-bg); 
}


.navbar-separator {
    display: inline-block;
    margin-left: auto;
    opacity: 0.6; 
}

.navbar-more {
    width: 4rem; 
    text-align: center; 
    cursor: pointer;
}

/* -----MORE MENUS styles ---------*/
.open-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 4.5rem; 
    right: 18.6rem; /* adjust this rem - still not responding  */
    z-index: 998;
    width: 15%;
    padding: 0.5rem;
}

#open-menu.open {
visibility: visible;
opacity: 1;
transform: translateY(0);
}

.new-nav-container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    border-radius: 0.75rem;
    background-color: var(--nav-bg);
    backdrop-filter: blur(20px);
}

.navigation {
    padding: 1rem; 
    border-radius: 0.75rem; 
    width: 100%; 
}

@media (min-width: 30em) { 
    .custom-class {
        padding: 1.5rem; 
        width: 20rem; 
    }
}

.navigation-links {
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
}

.navigation-links a {
    color: white;
    padding: 1rem; 
    text-decoration: none; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: var(--faint-bg); 
    border-radius: 0.75rem; 
    font-size:1rem;
}

.navigation-links a:hover {
    background-color: var(--hover-bg); 
}

/* -----INTRO styles ---------*/
.container-main{
    margin-top: 2rem;
}

@media (min-width: 30em) { 
    .intro {
        padding-top: 0.5rem; 
    }
}

.intro-p {
    text-transform: uppercase;
    color: var(--tertiary-color); 
    letter-spacing: 0.1em; 
}

.intro-h1 {
    text-transform: uppercase; 
    margin-top: 0; 
    margin-bottom: 0.5rem;
    line-height: 1.25; 
    font-size: clamp(1em, 9.7vw, 5.5em)
}

.container, .container-ns{
    max-width: 1240px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@media (min-width: 1700px) {
    .container,.container-ns,.container-lg,.container-lg-ns {
        max-width:1240px
    }

    .hero-headline {
        font-size: clamp(1em, 9.7vw, 8.1em)
    }

    .nav {
        max-width: 1440px
    }
}

.profile-container {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
}

.profile-link {
    max-width: 3rem; 
    flex-shrink: 0;
}

.profile-link img {
    border-radius: 100%; 
    transform: scale(1.1);
    height: 50px;
    width: 50px;
    background-color: var(--secondary-color);
}

/* -----SOCIAL styles ---------*/
.social-container {
    display: flex; 
    flex-direction: row;
    align-items: center;     
}

.social-container svg {
    display: inline-block; 
    margin-right: 1rem;
    border-radius: 0.5rem; 
    transition: transform 0.3s; 
    fill: white;
}

.cv:hover {
    transform: rotate(-15deg) scale(1.5);
    fill: #dc3b3e;
} 

.linkedin:hover {
    transform: rotate(15deg) scale(1.5);
    fill: #0a66c2;
}

.github:hover {
    transform: rotate(-15deg) scale(1.5);
    fill: #ff8f00;
}

.mail:hover {
    transform: rotate(15deg) scale(1.5);
    fill: #3bdc90;
}

.fb:hover {
    transform: rotate(15deg) scale(1.5);
    fill: #d535c3;
}

.grid-box {
    clear: both; 
    margin-top: 1rem; 
    border-radius: 0.5rem; 
    overflow: hidden; 
    width: 100%; 
}

.grid-box-frame {
    display: flex;
    align-items: end;
    overflow: hidden
}

.grid-photo {
    display: flex; 
    flex-wrap: nowrap; 
    width: 100%;
    gap: 1rem;
    
}

.grid-photo > .photo {
    flex: 0 0 25%; 
    height: 180px; 
    background-position: center;
    background-size: cover; 
    border-radius: 0.8rem;
}

.grid-photo img {
    background-position: center; 
    background-size: cover; 
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.where-container{
    display: flex;
    align-items: center; 
    flex-direction: column;
    
    margin-top: 2rem; 

    @media (min-width: 30em) {
        flex-direction: row;
        justify-content: space-between; 
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}


.where-card {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem; 
    background-color: var(--faint-bg, #f4f4f4); 
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    margin-bottom: 1rem; 
    margin-left: 0;
    transition: 10ms;
    
    @media (min-width: 30em) {
        margin-bottom: 0; 
    }
}

.where-card img:hover {
    transform: scale(2); 
}

.where-photo {
    display: inline-block; 
    width: 3rem; 
}

.where-photo1 {
    display: inline-block; 
    width: 2.5rem; 
}

.where-card2 {
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem; 
    background-color: var(--faint-bg, #f4f4f4); 
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: nowrap; 
    gap: 0.5rem; 
    margin-bottom: 1rem; 
}
@media (min-width: 30em) {
    .where-card2  {
        margin-bottom: 0; 
    }
}

.work-container {
    padding-top: 4rem; 
    margin-bottom: 2rem; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 0.5rem; 
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%; 
}

.work-h2 {
    font-size: inherit; 
    text-transform: uppercase; 
    margin: 0; 
    white-space: nowrap; 
}

@media (min-width: 30em) { 
    .work-h2 {
        font-size: 3rem; 
    }
}

.project-grid {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: ".";
 
    
}

@media screen and (min-width: 50em) {
    .work-grid,.more-grid {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1.5rem 1.5rem;
        grid-auto-flow: row;
        grid-template-areas: ". . ."
    }

    .pa35-ns {
        padding: 1.5rem
    }
}

@media screen and (min-width: 50em) and (max-width: 100em) {
    .work-grid {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas: ". ."
    }

    .project-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: ". ."
    }

    .pa35-m {
        padding: 1.5rem
    }
}

@media screen and (min-width: 60em) {
    .pa35-l {
        padding:1.5rem
    }

    .project-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ". . ."
    }
}


.project-card {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: var(--header-bg);
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    height: 500px; /* Ensures all cards have a fixed height */
    display: flex;
    flex-direction: column; 
}

.project-image-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 60%; 
    border-bottom-style: solid;
    border-width: 0.125rem;
    background-color: rgba(147, 156, 220, 0.5); 
    border-color: var(--faint-border-color); 
    padding: 1rem;
    overflow: hidden; 
}

.project-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.caption-card {
    padding: 1.5rem;
}


.card-h3 {
    display: flex;
    justify-content: space-between;
}

.card-h3 h3 {
    line-height: 1.2;
    margin: 2em 0 0.5em 0;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-size: 1.5rem;
}

.card-h3 div {
    color: var(--tertiary-color);
}

.categ {
    color: var(--secondary-color);
}

.card-p {
    margin-top: 1rem;
}

.card-p div {
    font-weight: 400;
    display: block;
    color: var(--secondary-color);
    font-stretch: normal;
}

.card-p a {
    transition: all 0.3s;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--link-color);
    margin-top: 0.5rem; 
}



/* Work More Container */
.work-more-container {
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
    flex-direction: row;
    align-items: center;
    background-color: rgba(186,179,255,0.102);

}

@media (min-width: 30rem) {
    .work-more-container {
        flex-direction: row;
        align-items: center;
    }
}

.work-more-container:hover {
    transform: scale(1.02);
}


.work-card {
    display: flex;
    margin-bottom: .5rem;
}


.img-card {
    border-radius: 1rem;
    width: 50%;
    overflow: hidden;
    min-width: 12rem;
}


.img-card2 {
    height: 0;
    position: relative;
    padding-bottom: 75%;
    display: block;
}

.img-card2 span {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-size: cover !important;
    background-position: center;
    border-radius: .75rem;
}


.snippet-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 1rem;
    padding-left: 2rem;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.snippet {
    font-size: 1.8em;
    line-height: 1.2;
    margin: 2em 0 0.8em 0;
    color: #f6f5ff;
    margin-bottom: .5rem;
    margin-top: 0;
    text-transform: uppercase;
}

.description {
    line-height: 1.4;
    box-sizing: border-box;
    font-weight: 400;
    max-width: 30em;
    color: var(--secondary-color);
}


.more-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem 1.5rem;
    grid-auto-flow: row;
    grid-template-areas: ". . .";
}

.grid-container{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--faint-bg);
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%; 
    
}

.grid-card {
    width: 100%;
    padding: 1rem;
}

.grid-card h3{
    margin: 2em 0 0.5em 0;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
}

.grid-card div{
    font-weight: 400;
    line-height: 1.4;
    color: var(--secondary-color);
}

.grid-container img {
    border-style: none;
    max-width: 100%;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .10s ease-out;
}

.grid-container img:hover {
    transform: scale(1.2); 
}

/* -----FOOTER styles ---------*/
footer {
    margin-bottom: 1rem;
    margin-top: 8rem;
    max-width: 1240px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}

footer a:hover{
    color: var(--link-hover-color);
}


.footer-container {
    border-top-style: solid;
    border-width: .125rem;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding-top: 1rem;
    white-space: nowrap;
    flex-direction: row;
    border-color: var(--faint-border-color);
}

@media (min-width: 30rem) {
   
    .footer-container{
        flex-direction: row; 
    }
}

.footer-card {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.link-dif{
    font-weight: 700;
    color: var(--secondary-color);
    border-bottom-style: solid;
    border-color: #96ccff;
    border-width: .25rem;
    display: inline-block;
    text-decoration: none;
    transition: color .15s ease-in;
}

.footer-card span{
    display: inline-block;
    opacity: .6;
    margin-left: .25rem;
}

.footer-card a {
    color: var(--secondary-color);
    display: inline-block;
    text-decoration: none;
    transition: color .15s ease-in;
    
}

.footer-container2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    gap: 1.5rem;
}

@media (min-width: 30rem) {
    
    .footer-container2 {

        flex-direction: row; 
        margin-left: 0.5rem; 
        margin-right: 0.5rem; 
        justify-content: space-between; 
    }
}


.footer-container2 a {
    font-weight: 400;
    text-decoration: none;
    color: var(--secondary-color);
    transition: color .15s ease-in;
}

.footer-container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: .25rem;
}

.copyright {
    box-sizing: border-box;
    text-align: center;
    font-size: .875rem;
    white-space: nowrap;
    color: var(--tertiary-color);
}

